body{
	margin: 15;
	background-image: url("https://thumbs.gfycat.com/DistinctScrawnyCicada-small.gif");	
}

header{
	background-color: #d2d2d2;
	}

header{
	color: white;
}

h1 img{
	border-radius: 200%;
	width: 300px;
	object-fit: cover;
	height: 300px;
}